.yith-pa-hidden{
    display: none;
}
.yith-pa-add-new-addon{
    display: flex;
    margin: 11px;
    background-color: rgb(55, 122, 221);
    color: white;
    width: 128px;
    height: 26px;
    padding: 7px;
    text-align: center;
    border-radius: 16px;
    font-size: 16px; 
    box-shadow: 0px 2px 5px 4px rgb(207 207 207);
    cursor: pointer;
}
.yith-pa-remove-addon{
    float: right;
    display: flex;
    margin: 11px;
    background-color: rgb(55, 122, 221);
    color: white;
    width: 128px;
    height: 26px;
    padding: 7px;
    text-align: center;
    border-radius: 16px;
    font-size: 16px; 
    box-shadow: 0px 2px 5px 4px rgb(207 207 207);
    cursor: pointer;
}
.yith-pa-header__label{
    position: relative;
    top: 11px;
    margin: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-left: 30px;
}
.yith-pa-addon-container{
    display: inline-block;
    width: 100%;
}
.yith-pa-addon-header{
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: rgb(239 238 238);
    border-radius: 8px;  
}
.yith-pa-addon-header-arrow{
    position: relative;
    top: 5px;
    font-size: 30px;
    margin: 5px;
    cursor: pointer;

}
.yith-pa-addon-header-input-onoff{
    float: right;
    margin: 10px; 
    padding: 10px;
}
.yith-pa-addon-body{
    display: inline-block;
    width: 100%;
    border-radius: 8px;
}
.yith-pa-field-container{
    display: inline-table;
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 10px;
}
.yith-pa-input-container{
    display: grid;
    float: right;
    width: 80%;
    font-size: 15px;
}
.yith-pa-field__label{
    display: contents;
    font-size: 15px;
    padding: 5px;
}
.yith-pa-field__input{
    width: inherit;
}
.yith-pa-remove-option{
    position: relative;
    top: 32px;
    cursor: pointer;
    font-size: 30px;
    margin:18px;
}
.yith-pa-add-new-option{
    cursor: pointer;
    color: rgb(65, 170, 255);
    font-size: 17px;
    margin: 15px;
}
.yith-pa-options-container__template{
    display: none;
    width: 70%;
}
.yith-pa-options-container{
    display: flex;
    width: 70%;
}
.yith-pa-options-block{
    display: block;
}
.yith-pa-radio-group{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 150px !important;
}
.yith-pa-single-radio-container{
    margin: 10px;
    font-size: 15px ;
}
.yith-pa-option-label{
    margin: 0px;
    height: auto;
    font-size: 13px ;
}
.yith-pa-single-option-container{
    width: 50%;
    text-align: center;
}
.yith-pa-select-option__text-input{
    width: 80% !important;
    float: none !important;
}
.yith-pa-select-option__price-input{
    width: 80% !important;
    float: none !important;
}
.yith-pa-switch-total{
    float: right !important;
}
.yith-pa-input-desc{
    font-size: 13px;
    color: #676767;
}
.yith-pa-field-type{
    width: 30%;
}
.yith-pa-price{
    width: 30% !important;
}
.yith-pa-free-char{
    width: 30% !important;
}
/* SLIDER */
.yith-pa-switch{
    position: relative;
    width: 50px !important;
    height: 25px;
    margin: 10px !important;
  }
.yith-pa-switch-total{
    position: relative;
    width: 50px !important;
    height: 25px;
    margin: 10px !important;
  }
  
  /* Hide default HTML checkbox */
.yith-pa-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
.yith-pa-switch-total input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #868686;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: rgb(55, 122, 221);
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px rgb(55, 122, 221);
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }

.yith-pa-product-select{
    width: 427px;
    height: 56px;
}