.yith-pa-total-price-container{
    display: block;
    background-color: rgb(240, 240, 240);
    height: 300px;
    width: 49%;
    border-radius: 9px;
    padding: 5px;
    margin: 10px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
.yith-pa-total-price__title{
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
}
.yith-pa-total-price__row{
    height: 80px;
    margin: 5px;
}
.yith-pa-product-price__text{
    position: relative;
    left: 0px;
    top: 30px;
    font-size: 20px;
    margin: 5px;
}
.yith-pa-addons-price__text{
    position: relative;
    left: 0px;
    top: 30px;
    font-size: 20px;
    margin: 5px;
}
.yith-pa-total-price__text{
  position: relative;
  left: 0px;
  top: 30px;
  font-size: 20px;
  margin: 5px;
}
.yith-pa-product-price__value{
    float: right;
    font-size: 20px ! important;
    margin: 5px;
}
.yith-pa-addons-price__value{
  float: right;
  font-size: 20px ! important;
  margin: 5px;
}
.yith-pa-total-price__value{
  float: right;
  font-size: 20px ! important;
  margin: 5px;
}
.yith-pa-addon__name{
    font-weight: bold;
    font-size: 22px;
    margin: 10px;
    margin-left: 0px;
}
.yith-pa-addon__desciption{
    font-size: 18px;
    margin: 10px;
    margin-left: 0px;
}
.yith-pa-field--option-text{
  margin-right: 25px;
}
.yith-pa-price__container{
    position: relative;
    left: 340px;
}
.yith-pa-addon__input{
    width: 50%;
    margin: 10px;
    left: 0px;
}
.yith-pa-field__checkbox{
  position: relative;
  left: 35px;
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}
.yith-pa-addon__checkbox-desciption{
  float: left;
}
.yith-pa-addon{
    margin: 35px;
    margin-left: 0px;
}

/* ON OFF */
.yith-pa-switch-frontend{
    position: relative;
    display: inline-block;
    left: 200px;
    width: 50px !important;
    height: 25px;
}
.yith-pa-field__onoff{
    display: none !important;
}
 /* The slider */
 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbbbbb;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color: rgb(0, 141, 146);
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px rgb(0, 141, 146);
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }